body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}

header {
    max-width:1500px;
}

.w3-image {
    min-width:1000px;
    width:100%;
    height:800;
}

.w3-row-padding {
    margin:0 -16px;
}

.cityImg {
    src:"https://www.history.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTYyNDg1MjE3MTI1Mjc5Mzk4/topic-london-gettyimages-760251843-promo.jpg";
    width:100%;
}